body {
background-color: blanchedalmond;
color: brown;
}

.btn {
    size: 2x;
    background-color: chocolate;
    outline-color: coral;
}

.btn:hover {
    background-color: darkgray;
    color: white;
}